
<%= form_tag login_create_path do %>


  <div class="container">
  <div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">
  <h1>Login in</h1>

  <div style="font-size:18px;">
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p></br>
<% flash.each do |name,msg|%>
<%= content_tag :div, msg,:id => "flash_#{name}"%>
<%end%></br>
    </div>
  <%= submit_tag "Submit" ,:class=>"btn" %>
  <%= link_to "<button class=btn btn-success>Cancel</button>".html_safe,main_form_path%>
</div></div></div>

<% end %>
