

<%= form_for @user,:html => {:id => "foo"},url: user_create_path do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="row">
  <div class="col-sm-0">
  </div>
  <div class="col-sm-12">
  <h1>Sign Up</h1>

  <div style="font-size:18px;">
  
    <%= f.label :Enter_First_name%>    <%= f.text_field :firstname%></br></br>
    <%= f.label :Enter_Last_name%>       <%= f.text_field :lastname %></br></br>
    <%= f.label :Enter_User_name%>       <%= f.text_field :username %></br></br>
    <%= f.label :Enter_valid_Email %>           <%= f.text_field :email %></br></br>
    <%= f.label :Enter_Ph_number%>    <%= f.text_field :phone %></br></br>
    <%= f.label :Enter_password %>              <%= f.password_field :password %></br></br>
    <%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %></br></br>
    </div>
  <%= f.submit :Submit,:class=>"btn" %>
  <%= link_to "<button class=btn btn-success>Cancel</button>".html_safe,main_form_path%>
</div></div></div>

<% end %>
